*{
   margin-top: 5vh;
   margin-bottom: 5vh;
   margin-left: 10vw;
   margin-right: 10vw;
   padding: 0;
}

.texto-explicativo{
   margin: auto;
   text-align: center;
   margin-top: 5vw;
   width: 40vw;
   height: 10vw;
}